@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .dynamic-height {
    height: 100dvh;
  }

  .background-image {
    background-image: url("/assets/texture.jpg");
  }

  .clignotement {
    animation: clignotement 3s infinite ease-in-out;
  }

  .transitionX {
    animation: transitionX 1s ease-in-out;
  }

  .transitionY {
    animation: transitionY 1s ease-in-out;
  }

  .transition-X {
    animation: transition-X 1s ease-in-out;
  }

  .transition-Y {
    animation: transition-Y 1s ease-in-out;
  }

  @keyframes transitionX {
    0% {
      transform: translateX(-150%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes transition-X {
    0% {
      transform: translateX(150%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes transitionY {
    0% {
      transform: translateY(-200%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes transition-Y {
    0% {
      transform: translateY(200%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes clignotement {
    0% {
      color: white;
    }
    50% {
      color: #8dd2ea;
    }
    100% {
      color: white;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  .textShadow {
    text-shadow: 0px 5px 2px lightslategray;
  }

  .sizeIcon {
    width: 40px;
    height: 40px;
  }

  .shadowImg {
    box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.4);
  }

  :root {
    --animation-duration: 500ms;
  }

  .iconAnimation {
    animation: slideInFromRight var(--animation-duration) ease-in-out forwards
      var(--animation-delay);
    opacity: 0;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

